body{
  display: flex;
  flex-direction: row;
  color: black;
  padding: 0%;
  margin: 0%;
}
#navbar{
  display: flex;
  flex-direction: column;
  width: 25vw;
  background-color: #BEBEBE;
  height: auto;
  position: fixed;
}
#main-doc{
  display: flex;
  flex-direction: column;
  background-color: #DCDCDC;
  margin-left: 25vw;
}
@media(max-width: 650px){
 #navbar{
    width: 100vw;
    margin-top: 0%;
   height: 30%;
   padding: 0%;
   overflow-y: auto;
  }
  #main-doc{
    margin-left: 1%;
    margin-top: 50%;
  }
}
@media(max-width: 650px){
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 650px){
  a{
    font-size: 12px;
    margin: 0%;
  }
  li > ul{
    margin: 0%;
  }
  hr{
    margin: 0%;
  }
}
li{
  text-decoration: none;
  list-style-type: none;
}
a{
  text-decoration: none;
  list-style-type: none;
  color: black;
}
.main-title{
  font-size: 25px;
  padding: 20px;
}
.secondary-title{
  font-size: 22px;
  margin-left: 20px;
}
p{
  font-size: 15px;
  margin-left: 30px;
}
code{
  display: block;
  margin-left: 50px;
  padding: 5px;
  background-color: #BEBEBE;
  max-width: 40vw;
}
@media(max-width: 650px){
  .main-title{
    font-size: 18px;
    margin: 1%;
    padding: 2%;
  }
  .secondary-title{
    font-size: 15px;
  }
  p{
    font-size: 10px;
  }
  code{
    font-size: 10px;
  }
}
